img{
    border-radius: 50%;
    height: 120px;
    width:120px;
    margin-top: 5px;
    margin-left:70px;
    
}
.name
{
    float: right;
    height:10%;
    width:50%;
   
    margin-top: 40px;
}
.outer
{
    height:55%;
    width:100%;
    border:2px solid black;
   background-color: palevioletred;
}