<ion-header>
  <ion-toolbar>
    <ion-title>DAILYWORK DISPLAY</ion-title>
  </ion-toolbar>
</ion-header>

    
        <ion-content padding  overflow-scroll="true">

        <div *ngFor="let item of display_arr" >
    <!-- <ion-label>DATE:{{item.daily_date | date:"MM/dd/yyyy"}}</ion-label> -->
<!-- <img src="http://localhost:3000/images/dailywork/{{item.image}}" alt="..."><br> -->
<div class="a">
<a href="http://localhost:3000/images/dailywork/{{item.pdf}}" target="_blank">DATE:{{item.daily_date | date:"MM/dd/yyyy"}}&nbsp;&nbsp;{{item.title}}</a>
</div>
</div>
</ion-content>
