
<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>MENU</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <ion-item [routerDirection]="'root'" routerLink="/attendance">
              <ion-label>
               ATTENDANCE
               
              </ion-label>
            </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false" >
                <ion-item [routerDirection]="'root'" routerLink="/studentfrontdisplay">
                  <ion-label>
                   
                   personal details
                  </ion-label>
                </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false" >
                    <ion-item [routerDirection]="'root'" routerLink="/footer">
                      <ion-label>
                       
                       footer
                      </ion-label>
                    </ion-item>
                    </ion-menu-toggle>
        
    

            <ion-menu-toggle auto-hide="false" >
                <ion-item [routerDirection]="'root'" routerLink="/home">
                  <ion-label>
                   BACK
                   
                  </ion-label>
                </ion-item>
                </ion-menu-toggle>
            
            <ion-menu-toggle auto-hide="false" >
                <ion-item [routerDirection]="'root'" routerLink="/notice">
                  <ion-label>
                   NOTICE
                   
                  </ion-label>
                </ion-item>
                </ion-menu-toggle>


                <ion-menu-toggle auto-hide="false" >
                    <ion-item [routerDirection]="'root'" routerLink="/assignment">
                      <ion-label>
                       ASSIGNMENT
                       
                      </ion-label>
                    </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle auto-hide="false" >
                        <ion-item [routerDirection]="'root'" routerLink="/dailywork">
                          <ion-label>
                           DAILY WORK
                           
                          </ion-label>
                        </ion-item>
                        </ion-menu-toggle>


                        <ion-menu-toggle auto-hide="false" >
                            <ion-item [routerDirection]="'root'" routerLink="/login">
                              <ion-label>
                               login
                               
                              </ion-label>
                            </ion-item>
                            </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


